#nav-wrapper{
  background-color: #fafafa;
}

#pageOne, #pageTwo, #pageThree, #pageFour, #pageFive, #pageSix{
  font-size: 1rem;
}

#logo-text{
  font-family: 'Julius Sans One', sans-serif;
  color : black;
  font-size: 55px;
}

.palette{
  border: 2px solid black;
}
.flexBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 html {
   font-family: 'Quicksand', sans-serif;
 }
