#nav-wrapper{
  background-color: #fafafa;
}

#a1, #a2, #a3, #b1, #b2, #b3{
  background-color: white;
    color: black;
    border: 1px solid black;
    padding: 14px 40px;
    margin: 10px;
}

#colorPicker{
  margin: 25px;
}

#pageOne, #pageTwo, #pageThree, #pageFour, #pageFive, #pageSix{
  font-size: 1rem;
}

#logo-text{
  font-family: 'Julius Sans One', sans-serif;
  color : black;
  font-size: 55px;
}

#paletteContainer{
  height: 90%;
}

#paletteOne, #paletteTwo, #paletteThree {
  height: 600px;

  margin:5px;
}

#nameBox{
  border: 1px solid black;
  height: 200px;
  width: 100%;
  margin-top: 50px;
}

#moodBoxOne{
  border: 1px solid black;
  height: 200px;
  width: 100%;
}

#moodBoxTwo{
  border: 1px solid black;
  height: 200px;
  width: 100%;
}

#wireframeOuter{
  border: 1px solid black;
  height: 270px;
  width: 100%;
  margin-bottom: 30px;
}

#wireframeBox{
  width:163px;
  height:163px
}

#typefaceBox{
  border: 1px solid black;
  height: 305px;
  width: 100%;
}

#paletteBox{
  border: 1px solid black;
  height: 605px;
  width: 100%;
}

#paletteBoxOne{
  height: 600px;
  margin:5px;

}

.colorBlock {
  width: 100%;
  /*height: 120px;*/
  height: 19.8%;
}

.flexBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
   display: flex;
   justify-content: space-between;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }


 html {
   font-family: 'Quicksand', sans-serif;
 }
